<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">]
    <meta name="Author" content="Gabriel dos Santos Silva">]
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <title>Projeto Flask - Combinações</title>
</head>
<body>
    <header>
        <h1>Bem vindos as dicas de combinações de roupas</h1>

    </header>


    <main>
        <menu>
            
            <a href="{{ url_for('index') }}">PÁGINA INICIAL</a>
            

        </menu>


    </main>


    <footer>
        <p>Desenvolvido por <strong>Gabriel dos Santos Silva</strong></p>
        <img src="{{ url_for('static',filename='logo.png') }}" width="150px" height="155px">

    </footer>
</body>
</html>