<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu primeiro site em flask</title>
</head>
<body style="background-color: rgb(0, 0, 0); color:white">
    
    <h1>Minha primeira página em HTML usando o Flask </h1>
    <hr>
    <h2>Próximos passos
        <ul>
            <li>Criar mais rotas</li>
            <li>Criar link entre páginas</li>
            <li>Criar conteudo estático</li>
        </ul>
    </h2>    
    <ul>
        <br>
        <a href="{{url_for('sac') }}">Fale conosco</a>
    </ul>
</body>
</html>