<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviço de atendimento ao cliente - Flask</title>
</head>
<body style="background-color: aliceblue;">
    <h1 style="color: rgb(25, 40, 63);"> Fale conosco</h1>
    <p>Email: </p>
    <p>1087420441@aluno.santanadeparnaiba.sp.gov.br</p>
    
</body>
</html>

    </ul>
    </h2>    
    <ul>
        <br>
        <a href="{{url_for('home') }}">Página inicial</a>
    </ul>